@model BudgetApplication.Models.ViewModels.AddItemViewModel

@{
    ViewData["Title"] = "Add Item";
}

<h1>Add a New Item</h1>

@using (Html.BeginForm("AddItem", "Item", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        @Html.TextBoxFor(model => model.Name, "", new { @class = "form-control", @placeholder = "Enter Item Name" })
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Price</label>
        @Html.TextBoxFor(model => model.Price, "", new { @class = "form-control", @placeholder = "Enter Price" })
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Category</label>
        @Html.DropDownList("Category", null, htmlAttributes: new { @class = "form-control"})
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

}


