@model IEnumerable<BudgetApplication.Models.ViewModels.ItemTableViewModel>
@{
    ViewData["Title"] = "ChartView";
}

<!DOCTYPE HTML>
<html>
<head>


    <!-- Donut Chart CDN -->
    <link rel="stylesheet" href="css/site.css"/>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!-- DataTable CDN -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>

    <script>

        $(document).ready(function() {
            console.log("ready!");
            $('#myTable').DataTable();
        });

        window.onload = function() {

            var chart = new CanvasJS.Chart("chartContainer",
                {
                    theme: "light1", // "light1", "light2", "dark1", "dark2"
                    exportEnabled: true,
                    animationEnabled: true,
                    title: {
                        text: "Budget Pie Chart"
                    },
                    subtitles: [
                        {
                            text: "Q2, 2016"
                        }
                    ],
                    data: [
                        {
                            type: "pie",
                            startAngle: 180,
                            toolTipContent: "<b>{label}</b>: {y}%",
                            showInLegend: "true",
                            legendText: "{label}",
                            indexLabel: "{label} - {y}%",
                            dataPoints: @Html.Raw(ViewBag.DataPoints)
                        }
                    ]
                });
            chart.render();


        }
    </script>
</head>
<body>
    <div id="chartContainer"></div>
    <br />
    <br />

<table id="myTable" class="ui celled table">
    <thead>
    <tr>
        <th>Item Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Purchased Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td data-label="item-name">@item.ItemName</td>
            <td data-label="category-name">@item.CategoryName</td>
            <td data-label="price">$@item.Price</td>
            <td data-label="purchased-date">@item.PurchasedDate</td>
        </tr>
    }
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-item">
        Add New Item
    </button>

    <partial name="_AddItem"/>
</body>
</html>

