
@{
    ViewData["Title"] = "SpendingPerMonth";
}


<head>
    <script>
        $(document).ready(function() {
            console.log("ready!");
        });


        window.onload = function () {

            var url = '@Url.Action("GetMonthlySpendingByYear")';
            $.get(url,
                function(data) {
                    console.log(data);

                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.monthNames,
                            datasets: [{
                                label: 'Total Spending By Month (in USD)',
                                data: data.monthlySpending
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                });

            

        }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
</head>
<body>
    <h1>SpendingPerMonth</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
</body>

